* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Titillium Web", sans-serif;
  color: white;
}

a {
  color: white;
}

button {
  cursor: pointer;
}

.main {
  width: 100%;
  position: absolute;
  padding: 1rem 1rem 0;
}

.top {
  display: flex;
  justify-content: space-between;
}

.controls>*+* {
  margin-top: 0.5rem;
}

.control {
  display: flex;
  flex-direction: column;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 0 1rem 1rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}

.easter-egg {
  text-decoration: underline;
  cursor: url("/easter-egg-cursor.png"), pointer;
}